<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <title>Wroblewshop</title>
</head>
<body>
<header class="navbar bg-body-tertiary shadow-sm">
    <div class="col-lg-6 mx-auto">
        {% block header_title %}<h3><a class="app-brand" href="{{ url_for('start.index') }}">Wroblewshop</a></h3>{% endblock %}
    </div>
</header>
<div class="col-lg-6 mx-auto p-3 py-md-3">
    <div class="row g-0 mb-4">
        {% block beforeContent %}{% endblock %}
    </div>
    <div class="row g-0">
        {% block main %}{% endblock %}
    </div>
</div>
</body>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</html>
