{% extends '_page-two-third-width.html' %}

{% block content %}
<h2>Check store cupboard</h2>

<form>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="basmati-rice" id="store1">
        <label class="form-check-label" for="store1">
            Basmati rice
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="stock-cubes" id="store2">
        <label class="form-check-label" for="store2">
            Stock cubes
        </label>
    </div>
    <a class="btn btn-primary" href="add-store.html">Add sundry</a>
    <a class="btn btn-success" href="check-sundries.html">Confirm</a>
</form>

{% endblock %}
