{% extends '_page-two-third-width.html' %}

{% block header %}
    <header class="navbar bg-body-tertiary shadow-sm">
        <div class="container">
            {% block header_title %}<a class="navbar-brand app-brand" href="index.html">Wroblewshop</a>{% endblock %}
        </div>
    </header>
{% endblock %}

{% block content %}
<form>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <a class="btn btn-primary" href="home.html">Sign in</a>
  </form>
{% endblock %}
