{% extends '_page-two-third-width.html' %}

{% block content %}
<h2>Add item</h2>

<form method="post" action="/item" aria-label="add-item" novalidate>
    {{ form.csrf_token }}
    <fieldset class="form-group mb-3">
        {{ form.name.label(class_="form-label") }}
        {% if form.name.errors %}
            {{ form.name(class_="form-control is-invalid", aria_describedby="invalidNameFeedback") }}
            {% for error in form.name.errors %}
            <div id="invalidNameFeedback" class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        {% else %}
            {{ form.name(class_="form-control") }}
        {% endif %}
    </fieldset>
    <input class="btn btn-success" type="submit" value="Confirm" role="button">
</form>
<hr/>
<section>
    <h3>Cupboard Items</h3>
    {% for item in items %}
    <form method="post" action="{{ url_for('item.delete_item', item_id=item.id) }}" aria-label="delete-item-{{ item.name | lower }}" novalidate>
        <div class="row" role="row">
            <div class="col">
                <label for="delete-{{ item.name | lower }}">{{ item.name }}</label>
            </div>
            <div class="col" role="row">
                <input id="delete-{{ item.name | lower }}" value="Delete" type="submit" role="button">
            </div>
        </div>
    </form>
    {% endfor %}
</section>
{% endblock %}
