{% extends '_page-two-third-width.html' %}

{% block content %}
<h2>Add item</h2>

<form method="post" action="/add-item" aria-label="add-item">
    {{ form.csrf_token }}
    <fieldset class="form-group mb-3">
        {{ form.name.label(class_="form-label") }}
        {{ form.name(class_="form-control") }}
    </fieldset>
    <input class="btn btn-success" type="submit" value="Confirm" role="button">
</form>
<hr/>
<h3>Cupboard Items</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
